.tours {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  
    padding: 15px 30px;
    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 45%;
      margin-right: 5px;
      gap: 20px;
      p {
        width: 100%;
      }
    }
  
    &-right {
        
      width: 550px;
      margin-top: 10px;
      &-gallery {
        img {
          
          width: 250px;
          height: 250px;
          object-fit: cover;
        }
        h4 {
            color: $secondary-color;
          }
      }
    }
  }