@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "_variables";
@import "_components";
@import "_header";
@import "_navbar";
@import "_events";
@import "_explore";
@import "_tours";
@import '_footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: $body-color;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.menu-btn {
  display: none;
}
@media (max-width: 800px) {
    .tours {
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    }
}